<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="biz.cunning.cunning_document_scanner">
    <application android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- Override ML Kit orientation restriction -->
        <activity
            android:name="com.google.mlkit.vision.documentscanner.internal.GmsDocumentScanningDelegateActivity"
            tools:replace="screenOrientation"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".fallback.DocumentScannerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.FullScreen" />

        <provider
            android:name="biz.cunning.cunning_document_scanner.fallback.DocumentScannerFileProvider"
            android:authorities="${applicationId}.DocumentScannerFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
